* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: rgb(158, 156, 156);
    width: 400px;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-image img {
    width: 125px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid black;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-info h2 {
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}

.title {
    color: darkblue;
    font-size: 17px;
    margin-bottom: 10px;
}

.description {
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
}

.social-links a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    color: darkblue;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #033a75;
}